{% extends 'base.html' %}

{% block body %}
   <div class="container my-3">
       <h1>Please enter your mobile no and message </h1>
       <hr>
       <form action="SendData" method="POST">
           {% csrf_token %}
           <div class="form group mt-4">
               <label for="Phone">Enter Phone No</label>
               <input type="Phone" required autofocus class="form-control" name="Phone" id="Phone"
               aria-describedby="Phone" placeholder="Please enter 10 digit whatsapp no">
           </div>
           <div class="form-group">
                <label for="Message">Enter Message:</label>
                <textarea name="Message" id="Message" rows="5" class="form-control" required placeholder
                ="Write Message..."></textarea>
           </div>
           <input type="Submit" value="Send" class="btn btn-primary btn-lg">
           <a href="/" class="btn btn-secoundary btn-lg ml-5">Clear</a>{{msg}}
       </form>
   </div>
{% endblock body %}
